.easeOut {
  transition: all 0.5s ease-out;
}
.background#bgImg {
  background-image: url(../Img/homeImg4.jpeg);
  background-attachment: fixed;
  background-size: cover;
}
.background#bgImg::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(68, 68, 68, 0.9);
}
.btn {
  display: block;
  padding: 0.8rem 1.6rem;
  border: 0;
  margin-bottom: 0.4rem;
}
.btn:hover {
  background: #1e90ff;
  color: #ffffff;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
html,
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  font-weight: 400;
}
body {
  background: #444;
  color: #FFF;
  max-height: 100%;
  max-width: 100%;
  margin: 0;
  line-height: 1.5;
}
body#bgImg {
  background-image: url(../Img/homeImg4.jpeg);
  background-attachment: fixed;
  background-size: cover;
}
body#bgImg::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(68, 68, 68, 0.9);
}
img {
  max-width: 100%;
}
.menuBtn {
  position: absolute;
  z-index: 3;
  right: 3.5rem;
  top: 3.5rem;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.menuBtn .btnLine {
  width: 2.8rem;
  height: 0.3rem;
  margin: 0 0 0.5rem 0;
  background: #fff;
  transition: all 0.5s ease-out;
}
.menuBtn.close {
  transform: rotate(180deg);
}
.menuBtn.close .btnLine:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.menuBtn.close .btnLine:nth-child(2) {
  opacity: 0;
}
.menuBtn.close .btnLine:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;
}
.menu.show {
  visibility: visible;
}
.menuBranding,
.menuNav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}
.menuNav {
  margin: 0;
  padding: 0;
  background: #373737;
  list-style: none;
  transform: translate3d(0, -100%, 0);
  transition: all 0.5s ease-out;
}
.menuNav.show {
  transform: translate3d(0, 0, 0);
}
.menuBranding {
  background: #444;
  transition: all 0.5s ease-out;
  transform: translate3d(0, 100%, 0);
}
.menuBranding.show {
  transform: translate3d(0, 0, 0);
}
.menuBranding .portrait {
  width: 25rem;
  height: 25rem;
  background: url(../Img/profileSm.jpg);
  border-radius: 50%;
  border: solid 0.3rem #1e90ff;
  background-position: center;
}
.menu .navItem {
  transform: translate3d(60rem, 0, 0);
  transition: all 0.5s ease-out;
}
.menu .navItem.show {
  transform: translate3d(0, 0, 0);
}
.menu .navItem.active > a {
  color: #1e90ff;
}
.menu .navLink {
  display: inline-block;
  position: relative;
  font-size: 3rem;
  text-transform: uppercase;
  padding: 1.6rem 0;
  color: #fff;
  text-decoration: none;
  transition: all 0.5s ease-out;
}
.menu .navLink:hover {
  color: #1e90ff;
}
@media (max-width: 768px) {
  ul.menuNav {
    float: none;
    width: 100%;
    min-height: 0;
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 2.4rem;
  }
  ul.menuNav.show {
    transform: translate3d(0, 0, 0);
  }
}
@media (max-width: 768px) {
  div.menuBranding {
    float: none;
    width: 100%;
    min-height: 0;
    height: 25vh;
    transform: translate3d(100%, 0, 0);
  }
  div.menuBranding.show {
    transform: translate3d(0, 0, 0);
  }
  div.menuBranding .portrait {
    background: url(../Img/profileSm.jpg);
    width: 15rem;
    height: 15rem;
    background-position: center;
    background-size: cover;
  }
}
h1.lgHeading,
h2.lgHeading,
h3.lgHeading,
h4.lgHeading,
h5.lgHeading,
h6.lgHeading {
  font-size: 6rem;
}
h1.smHeading,
h2.smHeading,
h3.smHeading,
h4.smHeading,
h5.smHeading,
h6.smHeading {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
  background: rgba(69, 69, 69, 0.5);
}
a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.6rem;
}
header {
  position: fixed;
  z-index: 2;
  width: 100%;
}
.textSecondary {
  color: #1e90ff;
}
main {
  padding: 4rem;
  height: 100%;
  min-height: calc(100vh - 6rem);
}
@media (max-width: 768px) {
  main {
    align-items: center;
    text-align: center;
  }
  main .lgHeading {
    line-height: 1;
    margin-bottom: 1.6rem;
  }
}
@media (max-width: 500px) {
  main #home h1 {
    margin-top: 10vh;
  }
}
main .icons {
  margin-top: 1rem;
}
main .icons a {
  padding: 0.4rem;
}
main .icons a:hover {
  color: #1e90ff;
  transition: all 0.5s ease-out;
}
main#home {
  overflow: hidden;
}
main#home h1 {
  margin-top: 20vh;
}
.aboutInfo {
  display: grid;
  grid-gap: 3rem;
  grid-template-areas: 'bioImage bio bio' 'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 768px) {
  .aboutInfo {
    grid-template-areas: 'bioImage' 'bio' 'job1' 'job2' 'job3';
    grid-template-columns: 1fr;
  }
}
.bioImage {
  grid-area: bioImage;
  margin: auto;
  border-radius: 50%;
  border: #1e90ff 0.3rem solid;
}
.bio {
  grid-area: bio;
  font-size: 2.4rem;
}
.job1 {
  font-size: 1.6rem;
  line-height: 1.5;
  grid-area: job1;
}
.job2 {
  font-size: 1.6rem;
  line-height: 1.5;
  grid-area: job2;
}
.job3 {
  font-size: 1.6rem;
  line-height: 1.5;
  grid-area: job3;
}
.job4 {
  font-size: 1.6rem;
  line-height: 1.5;
  grid-area: job4;
}
.job5 {
  font-size: 1.6rem;
  line-height: 1.5;
  grid-area: job5;
}
.job {
  background: #515151;
  padding: 0.8rem;
  border-bottom: #1e90ff 0.5rem solid;
}
.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.8rem;
}
@media (max-width: 768px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .projects {
    grid-template-columns: 1fr;
  }
}
.projects img {
  width: 100%;
  border: 3px #B22222 solid;
}
.projects img:hover {
  opacity: 0.5;
  border-color: #1e90ff;
  transition: all 0.5s ease-out;
}
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1.6rem;
}
.boxes div {
  font-size: 3.2rem;
  border: #ffffff 3px solid;
  padding: 2.4rem 4rem;
  margin-bottom: 4.8rem;
  transition: all 0.5s ease-out;
}
.boxes div:hover {
  padding: 0.8rem 2.4rem;
  background: #1e90ff;
  color: #ffffff;
}
.boxes div:hover span {
  color: #444;
}
.btnDark {
  display: block;
  padding: 0.8rem 1.6rem;
  border: 0;
  margin-bottom: 0.4rem;
  background: #000000;
  color: #ffffff;
}
.btnDark:hover {
  background: #1e90ff;
  color: #ffffff;
}
.btnLight {
  display: block;
  padding: 0.8rem 1.6rem;
  border: 0;
  margin-bottom: 0.4rem;
  background: #c3c3c3;
  color: #333;
}
.btnLight:hover {
  background: #1e90ff;
  color: #ffffff;
}
#mainFooter {
  width: 100%;
  text-align: center;
  padding: 1.6rem;
  background: #2b2b2b;
  color: #ffffff;
  height: 6rem;
}
