h1, h2, h3, h4, h5, h6 {
    &.lgHeading {
        font-size: 6rem;
    }
    
    &.smHeading {
        font-size: 1.6rem;
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten(@primaryColor, 0.2), 0.5);
    }
}

a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.6rem;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.textSecondary {
    color: @secondaryColor;
}

main {
    padding: 4rem;
    height: 100%;

    @media @deviceMd {
        align-items: center;
        text-align: center;

        .lgHeading {
            line-height: 1;
            margin-bottom: 1.6rem;
        }
    }

    @media @deviceSm {
        #home h1 {
            margin-top: 10vh;
        }
    }

    .icons {
        margin-top: 1rem;

        a {
            padding: 0.4rem;

            &:hover {
                color: @secondaryColor;
                .easeOut();
            }
        }
    }
    &#home {
        overflow: hidden;
        h1 {
            margin-top: 20vh;
        }
    }
}